{% extends 'baseFrontUser.html.twig' %}
{% block nav %}

	<nav class="tabs__header overflow-hidden">
		<ul class="flex gap-x-[1px] dark:bg-gray-500/20">
			<li class="tabs__header-item group flex-1">
				<a href="#" class="flex justify-center border-b bg-gray-100 dark:bg-gray-800 group-[.is-active]:bg-white border-gray-500/20 py-4 text-center font-bold text-gray-500/40 transition-colors hover:text-accent group-[.is-active]:text-accent dark:group-[.is-active]:border-gray-700 group-[.is-active]:border-white dark:border-gray-500/20 dark:group-[.is-active]:bg-gray-700">Update</a>
			</li>
		</ul>
	</nav>
{% endblock %}
{% block login %}

	<div class="tabs__content-item">


		<div class="flex flex-col gap-y-6 lg:gap-y-8">


			{{ form_errors(form) }}

			{{ form_start(form) }}


			<div class="group is-success">
				{{ form_label(form.password, ' Password', {'label_attr': {'class': 'block text-sm font-bold uppercase text-gray-500 [&:not(:empty)]:mb-2.5'}}) }}
				{{ form_widget(form.password   , {'attr': {'class': 'group-[.is-success]:bg-input-success-dark group-[.is-error]:border-danger group-[.is-error]:bg-input-invalid group-[.is-error]:text-danger group-[.is-success]:pr-16 group-[.is-invalid]:pr-16 px-4 py-2 border-base bg-white/40 bg-[length:18px_18px,_38px_38px] bg-[position:right_16px_center,_right_6px_center] bg-no-repeat font-medium leading-8 tracking-tight text-gray-900 transition-all duration-150 placeholder:font-normal placeholder:text-gray-500/60 focus:border-accent focus:bg-white focus:text-gray-900 focus:outline-0 focus:ring-0 dark:border-gray-650 dark:group-[.is-success]:bg-input-success dark:bg-gray-900/40 dark:text-white dark:placeholder:text-gray-500/80 dark:focus:border-accent dark:focus:bg-gray-900 w-full'}}) }}
				<p class="group-[.is-error]:block mt-2 hidden text-xs text-danger">{{ form_errors(form.password) }}</p>
                
			</div>

			
			<div>

				{{ form_widget(form.submit, {'attr': {'class': 'inline-flex text-center font-bold leading-none transition-colors uppercase justify-center gap-x-3 py-4 px-4 md:py-[18px] lg:px-8 text-sm text-white bg-primary hover:bg-primary/90 w-full'}}) }}

			</div>


			{{ form_end(form) }}

		</div>

	</div>
{% endblock %}
