{% extends 'baseBackOffice.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>
{% endblock %}
{% block pagecontent %}

	<div class="flex flex-col gap-2 py-4 md:flex-row md:items-center print:hidden">
		<div class="grow">
			<h5 class="text-16">Delivery #{{delivery.id}}</h5>
		</div>
		<ul class="flex items-center gap-2 text-sm font-normal shrink-0">
			<li class="relative before:content-['\ea54'] before:font-remix ltr:before:-right-1 rtl:before:-left-1  before:absolute before:text-[18px] before:-top-[3px] ltr:pr-4 rtl:pl-4 before:text-slate-400 dark:text-zink-200">
				<a href="#!" class="text-slate-400 dark:text-zink-200">Ecommerce</a>
			</li>
			<li class="text-slate-700 dark:text-zink-100">
				Checkout
			</li>
		</ul>
	</div>
	<div class="grid grid-cols-1 xl:grid-cols-12 gap-x-5">
		
		<div class="xl:col-span-8">
			
			<div class="card">
				<div class="card-body">
					<h6 class="mb-4 text-15">Map Location</h6>
					<div id="map"  style= "width: 100%; height: 55vh"></div>
				</div>
			</div>
			<!--end card-->

		</div>
		<!--end col-->
		<div class="xl:col-span-4">
			<div class="card">
				<div class="card-body">
					<h6 class="mb-4 text-15">Delivery Details</h6>
					
					<div class="overflow-x-auto">
						<table class="w-full">
							<tbody>
								<tr>
									<td class="px-3.5 py-4 border-b border-dashed first:pl-0 last:pr-0 border-slate-200 dark:border-zink-500">
										<div class="flex items-center gap-3">
											<div class="flex items-center justify-center rounded-md size-20 bg-slate-100 shrink-0">
												<img src="{{vich_uploader_asset(delivery.deliveryOrder.products.productImages[0],'imageFile')}}" alt="" class="h-16">
											</div>
											<div class="grow">
												<h6 class="mb-1 text-15">
													<div  class="transition-all duration-300 ease-linear hover:text-custom-500">{{delivery.deliveryOrder.products.name}}</div>
												</h6>
												
											</div>
										</div>
									</td>
									
								</tr>
								
								<tr>
									<td class="px-3.5 pt-4 pb-3 first:pl-0 last:pr-0 text-slate-500 dark:text-zink-200">
										Customer
									</td>
									<td class="px-3.5 pt-4 pb-3 first:pl-0 last:pr-0 ltr:text-right rtl:text-left">{{delivery.deliveryOrder.products.member.firstName}} {{delivery.deliveryOrder.products.member.lastName}}</td>
								</tr>
								<tr>
									<td class="px-3.5 py-3 first:pl-0 last:pr-0 text-slate-500 dark:text-zink-200">
										Delivery Man
									</td>
									<td class="px-3.5 py-3 first:pl-0 last:pr-0 ltr:text-right rtl:text-left">{% if delivery.deliveryMan is not null %}
										
									{{delivery.deliveryMan.firstName}} {{delivery.deliveryMan.lastName}}{% else %} -{% endif %}</td>
								</tr>
								<tr>
									<td class="px-3.5 py-3 first:pl-0 last:pr-0 text-slate-500 dark:text-zink-200">
										Status
									</td>
									<td class="px-3.5 py-3 first:pl-0 last:pr-0 ltr:text-right rtl:text-left">{{delivery.state}}</td>
								</tr>
								
							</tbody>
						</table>
					</div>
					
				</div>
			</div>
			
			
			
		</div>
		<!--end col-->
	</div>
	<!--end grid-->


{% endblock %}
{% block endbodyjs %}
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script>
document.addEventListener("DOMContentLoaded", function () {
var map = L.map('map').setView([{{ delivery.coordinates }}], 14);
L.tileLayer('https://tiles.stadiamaps.com/tiles/osm_bright/{z}/{x}/{y}{r}.png', {attribution: '© OpenStreetMap contributors'}).addTo(map);

var markerGroup = L.featureGroup().addTo(map);
L.marker([{{ delivery.coordinates }}]).addTo(markerGroup);
})
</script>
{% endblock %}
