{% extends 'baseFrontOffice.html.twig' %}
{% block title %}Single Auction
{% endblock %}

{% block body %}

	<div class="page-heading py-6 md:py-12">
		<div class="container">
			<div class="mb-2 flex items-baseline gap-x-3 lg:gap-x-4.5">
				<svg role="img" class="aspect-[6/9] w-3 fill-accent sm:w-4 md:w-5 lg:w-7 xl:w-9">
					<use xlink:href="/build/images/str1/sprite.svg#arrow-right-pixel"></use>
				</svg>
				<h1 class="relative mb-3 text-3xl font-bold leading-none tracking-tighter text-gray-900 dark:text-white sm:text-4xl md:text-5xl lg:text-7xl xl:text-[84px]">Single Auction</h1>
			</div>
			<ol class="relative flex flex-wrap gap-x-6 text-sm leading-none text-gray-500 lg:gap-x-8 lg:text-lg [&amp;>li>a]:text-gray-900 hover:[&amp;>li>a]:text-accent dark:[&amp;>li>a]:text-white dark:hover:[&amp;>li>a]:text-accent [&amp;>li]:relative">
				<li class="font-bold">
					<a href="{{path('app_front_auction_list')}}">Home</a>
					<svg role="img" class="fill-gray absolute -right-4 top-1/2 aspect-[3/5] w-1.5 -translate-y-1/2 lg:-right-5">
						<use xlink:href="/build/images/str1/sprite.svg#arrow-right-pixel-alt"></use>
					</svg>


				</li>
				<li>Single Auction</li>
			</ol>
		</div>
	</div>
	<div class="pt-10 pb-16 lg:pt-20 lg:pb-44">
		<div class="container">
			<div class="grid grid-cols-12 gap-x-5 md:gap-x-6 lg:gap-x-7.5 gap-y-16">

				<div class="col-span-full md:col-span-6 md:pr-7 lg:pr-[70px]">
					<div class="sticky top-8">
						<div class="swiper js-vv-product-swiper mb-9 aspect-[50/63] w-full swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden">
							<div class="swiper-wrapper" id="swiper-wrapper-8dacc4af4a0f9e7b" aria-live="polite" style="transform: translate3d(0px, 0px, 0px);">


								{% for image in auction.productImages %}
									<div class="swiper-slide" role="group" aria-label="3 / 6" style="width: 500px;"><img class="h-full w-full object-cover" src="{{ vich_uploader_asset(image, 'imageFile') }}" alt=""></div>
								{% endfor %}


							</div>
							<span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
						</div>
						<div class="swiper js-vv-product-swiper-nav w-full swiper-initialized swiper-horizontal swiper-pointer-events swiper-watch-progress swiper-backface-hidden swiper-thumbs">
							<div class="swiper-wrapper" id="swiper-wrapper-af7f10829466910f1f" aria-live="polite" style="transform: translate3d(0px, 0px, 0px);">
								{% for image in auction.productImages %}
									<div class="swiper-slide swiper-slide-thumb-active swiper-slide-visible swiper-slide-active" role="group" aria-label="1 / 6" style="width: 98px; margin-right: 36px;"><img class="aspect-square w-full cursor-pointer object-cover opacity-100 transition-opacity duration-300 hover:opacity-20" src="{{ vich_uploader_asset(image, 'imageFile') }}" alt=""></div>
								{% endfor %}


							</div>
							<span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
						</div>
					</div>
				</div>


				<div class="col-span-full md:col-span-6 lg:-ml-7.5">

					<div class="flex justify-between items-baseline mb-5 lg:mb-8">
						<h2 class="text-2xl font-bold text-gray-900 md:text-2xl lg:text-4xl dark:text-white lg:leading-none">{{auction.name}}</h2>
						<div class="text-2xl font-bold text-accent md:text-2xl lg:text-[32px] lg:leading-none">{{auction.currentPrice}}dt</div>

					</div>
<li class="flex flex-1 flex-col items-center gap-y-3.5 text-center">
											<a id="reminder-id" href="" >
												<svg role="img" class="h-5 w-5 fill-accent">
													<use xlink:href="/build/images/str1/sprite.svg#clock"></use>
												</svg>
											</a>
										</li>

					<div class="tabs">
						<nav class="tabs__header pb-4 font-bold leading-tight tracking-tight text-xl lg:text-2xl xl:text-[32px]">
							<ul class="flex flex-col flex-wrap justify-between gap-y-3 sm:flex-row">
								<li class="tabs__header-item is-active group">
									<a href="#" class="text-gray-500/40 transition-colors hover:text-gray-900 group-[.is-active]:text-gray-900 dark:group-[.is-active]:text-white dark:hover:text-white  before:mr-[0.15em] group-[.is-active]:before:text-accent">Bids</a>
								</li>
								<li class="tabs__header-item group">
									<a href="#" class="text-gray-500/40 transition-colors hover:text-gray-900 group-[.is-active]:text-gray-900 dark:group-[.is-active]:text-white dark:hover:text-white  before:mr-[0.15em] group-[.is-active]:before:text-accent">Description</a>
								</li>


							</ul>
						</nav>


						<div class="tabs__content-item">

							<ol class="flex flex-col gap-y-12 lg:gap-y-12 pb-5 my-0">
								<li class="block">

									{% if auction.startDate > "now" and auction.member == app.user %}
										<a class="text-gray-500/40 transition-colors hover:text-gray-900 group-[.is-active]:text-gray-900 dark:group-[.is-active]:text-white dark:hover:text-white before:content-['.'] before:mr-[0.15em] group-[.is-active]:before:text-accent" href="{{path('app_auction_deleted',{'id':auction.id, 'source':'user'})}}">Delete</a>


										<a class="text-gray-500/40 transition-colors hover:text-gray-900 group-[.is-active]:text-gray-900 dark:group-[.is-active]:text-white dark:hover:text-white before:content-['.'] before:mr-[0.15em] group-[.is-active]:before:text-accent" href="{{path('app_front_update_Auction', {'id': auction.id})}}">Edit</a>


									{% endif %}
									<div class="col-span-full lg:col-span-4">
										<h2 class="text-xl md:text-2xl lg:text-3xl xl:text-[32px] leading-snug text-gray-900 dark:text-white font-bold mb-8 md:mb-10 lg:mb-14 xl:mb-16">Live Bids</h2>
										<div class="flex items-center gap-x-4 relative text-sm leading-none mb-6 md:mb-12">
											<div class="text-gray-500/60 uppercase font-bold text-sm leading-none mt-[1px]">Highest Bid:</div>
											<div class="text-2xl font-bold text-accent md:text-2xl lg:text-[32px] lg:leading-none">
												{% if auction.highestBid.bidder is null %}
													<div>No Bids Yet
													{% else %}
														{{auction.highestBid.value}}dt

													{% endif %}

												</div>

												<div class="text-2xl font-bold text-accent md:text-2xl lg:text-[32px] lg:leading-none">
													<div class="col-span-full text-gray-500 dark:text-gray sm:col-span-3" id="countdown"></div>
												</div>

											</div>
											<dl class="grid grid-cols-8 gap-x-5 leading-normal md:gap-x-6 lg:gap-x-7.5 dark:border-accent">
												{% set sortedBids = bid.value|default([])|sort %}

												{% for bid in bids %}
													{% if bid.bidder is not null %}
														<dt class="col-span-full text-gray-500 dark:text-gray sm:col-span-3">{{bid.bidder.firstName}}</dt>
														<dd class="col-span-full mb-4 font-bold text-gray-900 dark:text-white sm:col-span-5 md:mb-7">{{bid.value}}</dd>
													{% endif %}

												{% endfor %}

												{% if bidder != auction.member %}
													<dt class="col-span-full text-gray-500 dark:text-gray sm:col-span-3">My Bid:</dt>
													<dd class="col-span-full mb-4 font-bold text-gray-900 dark:text-white sm:col-span-5 md:mb-7">
														{% if bid2 is null %}
															-
														{% else %}
															{{bid2.value}}
														{% endif %}
													</dd>
												</dl>

												<div>
													{% if auction.startDate|date('Y-m-d H:i:s') > "now"|date('Y-m-d H:i:s')  %}
														<p>The auction hasn't started yet. Bids are not allowed.
														{% elseif  "now"|date('Y-m-d H:i:s') > auction.endDate|date('Y-m-d H:i:s')  %}
															<p>The auction has ended. No more bids can be added.</p>
														{% else  %}

															{{ form_start(bidForm,{'attr':{'novalidate':'novalidate'}}) }}
															{{ form_widget(bidForm.value, {'attr':{'class':'group-[.is-success]:bg-input-success-dark group-[.is-error]:border-danger group-[.is-error]:bg-input-invalid group-[.is-error]:text-danger group-[.is-success]:pr-16 group-[.is-invalid]:pr-16 px-4 py-2 border-base bg-white/40 bg-[length:18px_18px,_38px_38px] bg-[position:right_16px_center,_right_6px_center] bg-no-repeat font-medium leading-8 tracking-tight text-gray-900 transition-all duration-150 placeholder:font-normal placeholder:text-gray-500/60 focus:border-accent focus:bg-white focus:text-gray-900 focus:outline-0 focus:ring-0 dark:border-gray-650 dark:group-[.is-success]:bg-input-success dark:bg-gray-900/40 dark:text-white dark:placeholder:text-gray-500/80 dark:focus:border-accent dark:focus:bg-gray-900 w-full' }}) }}
															{{ form_errors(bidForm.value) }}
															<button type="submit" class="inline-flex text-center font-bold leading-none transition-colors uppercase justify-center gap-x-3 py-4 px-4 md:py-[18px] lg:px-8 text-sm text-gray-900 bg-accent hover:bg-accent/90 w-full">MAKE A BID</button>
															{{ form_end(bidForm) }}
														{% endif %}
													</div>

												{% endif %}
											</dl>
										</li>
									</li>
								</li>
							</li>
						</ol>
					</div>


					<div class="tabs__content vv-prose pt-6 pb-0 md:pt-9 lg:pt-10 xl:pt-12">
						<div class="tabs__content-item">
							<p class="lead">{{auction.description}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="grid grid-cols-12 gap-x-4 md:gap-x-6 lg:gap-x-7.5 py-11 first:pt-0 last:pb-0">
			<div class="col-span-2 md:col-span-1 lg:col-span-1">
				<time class="flex flex-col text-center text-xs font-bold md:text-base text-white bg-primary" datetime="">
					<span class="text-2xl lg:text-[32px] md:leading-none h-11 lg:h-[62px] flex items-center justify-center">{{auction.startDate|date('d')}}</span>
					<span class="text-white leading-[28px] bg-primary-500">{{auction.startDate|date('M')}}</span>
				</time>
			</div>
			<div class="col-span-10 md:col-span-6 lg:col-span-6">

				<dl class="grid grid-cols-8 gap-x-5 leading-normal md:gap-x-6 lg:gap-x-7.5">
					<dt class="col-span-full text-gray-500 dark:text-gray sm:col-span-3">Start Date</dt>
					<dd class="col-span-full mb-4 font-bold text-gray-900 dark:text-white sm:col-span-5 md:mb-7">{{auction.startDate|date('Y-m-d H:i:s')}}</dd>
					<dt class="col-span-full text-gray-500 dark:text-gray sm:col-span-3">End Date</dt>
					<dd class="col-span-full mb-4 font-bold text-gray-900 dark:text-white sm:col-span-5 md:mb-7">{{auction.endDate|date('Y-m-d H:i:s')}}</dd>

				</dl>
			</div>

		</div>
	</div>
{% endblock %}
{% block endbodyjs %}
	<script>

		// Get the end time of the auction from Symfony
const auctionEndTimeString = "{{ auction.endDate|date('Y-m-d\\TH:i:s') }}";
console.log("Auction End Time String:", auctionEndTimeString);

const auctionEndTime = new Date(auctionEndTimeString).getTime();
console.log("Auction End Time (milliseconds):", auctionEndTime);

// Check if auctionEndTime is a valid date
if (isNaN(auctionEndTime)) {
console.error("Invalid Auction End Time");
}

// Update the countdown every 1 second
const countdownInterval = setInterval(function () { // Get the current date and time
const now = new Date().getTime();

// Calculate the remaining time in milliseconds
const remainingTime = auctionEndTime - now;

// Calculate days, hours, minutes, and seconds
const days = Math.floor(remainingTime / (1000 * 60 * 60 * 24));
const hours = Math.floor((remainingTime % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
const minutes = Math.floor((remainingTime % (1000 * 60 * 60)) / (1000 * 60));
const seconds = Math.floor((remainingTime % (1000 * 60)) / 1000);

// Display the countdown in the "countdown" div
document.getElementById("countdown").innerHTML = days + "d " + hours + "h " + minutes + "m " + seconds + "s ";

// If the countdown is over, display a message
if (remainingTime < 0) {
clearInterval(countdownInterval);
document.getElementById("countdown").innerHTML = "Auction has ended!";
}
}, 1000); // Update every 1 second
	</script>
	<script>
		$('#reminder-id').on('click', function(event){
			event.preventDefault();
				$.ajax({
					method: "POST",
					url: "/auction/set_reminder?id="+{{auction.id}},
				}).then(function(data){
					console.log(data.message)
				})
		})
		</script>
{% endblock %}
