{% extends 'baseBackOffice.html.twig' %}
{% block pagecontent %}
	<div class="flex flex-col gap-2 py-4 md:flex-row md:items-center print:hidden">
		<div class="grow">
			<h5 class="text-16">Products For Rent</h5>
		</div>
		<ul class="flex items-center gap-2 text-sm font-normal shrink-0">
			<li class="relative before:content-['\ea54'] before:font-remix ltr:before:-right-1 rtl:before:-left-1  before:absolute before:text-[18px] before:-top-[3px] ltr:pr-4 rtl:pl-4 before:text-slate-400 dark:text-zink-200">
				<a href="#!" class="text-slate-400 dark:text-zink-200">Products</a>
			</li>
			<li class="text-slate-700 dark:text-zink-100">
				Products For Rent
			</li>
		</ul>
	</div>
	<div class="card" id="ordersTable">
		<div class="card-body">
			<div class="grid grid-cols-1 gap-4 mb-5 lg:grid-cols-2 xl:grid-cols-12">
				<div class="xl:col-span-3">
					<div class="relative">
						<input type="text" class="ltr:pl-8 rtl:pr-8 search form-input border-slate-200 dark:border-zink-500 focus:outline-none focus:border-custom-500 disabled:bg-slate-100 dark:disabled:bg-zink-600 disabled:border-slate-300 dark:disabled:border-zink-500 dark:disabled:text-zink-200 disabled:text-slate-500 dark:text-zink-100 dark:bg-zink-700 dark:focus:border-custom-800 placeholder:text-slate-400 dark:placeholder:text-zink-200" placeholder="Search for ..." autocomplete="off">
						<i data-lucide="search" class="inline-block size-4 absolute ltr:left-2.5 rtl:right-2.5 top-2.5 text-slate-500 dark:text-zink-200 fill-slate-100 dark:fill-zink-600"></i>
					</div>
				</div>
				<!--end col-->
			</div>
			<!--col grid-->
			<div class="overflow-x-auto">
				<table class="w-full whitespace-nowrap">
					<thead class="text-left bg-slate-100 text-slate-500 dark:bg-zink-600 dark:text-zink-200">
						<tr>
							<th class="px-3.5 py-2.5 font-semibold border-b border-slate-200 dark:border-zink-500">#</th>
							<th class="px-3.5 py-2.5 font-semibold border-b border-slate-200 dark:border-zink-500">Product Name</th>
							<th class="px-3.5 py-2.5 font-semibold border-b border-slate-200 dark:border-zink-500">Category</th>
							<th class="px-3.5 py-2.5 font-semibold border-b border-slate-200 dark:border-zink-500">Price Per Day</th>
							<th class="px-3.5 py-2.5 font-semibold border-b border-slate-200 dark:border-zink-500">Added Date</th>
							<th class="px-3.5 py-2.5 font-semibold border-b border-slate-200 dark:border-zink-500">Product Owner</th>
              <th class="px-3.5 py-2.5 font-semibold border-b border-slate-200 dark:border-zink-500">Availability</th>
							<th class="px-3.5 py-2.5 font-semibold border-b border-slate-200 dark:border-zink-500">Status</th>
							<th class="px-3.5 py-2.5 font-semibold border-b border-slate-200 dark:border-zink-500">Action</th>
						</tr>
					</thead>
					<tbody>

						{% for product in listProduct %}
							<tr>
								<td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500">00{{product.id}}</td>
								<td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500 product_name">
									<a href="#!" class="flex items-center gap-2">
										<img src="{{ vich_uploader_asset(product.productImages.first(), 'imageFile') }}" alt="Product images" class="h-6">
										<h6 class="product_name">{{product.name}}</h6>
									</a>
								</td>
								<td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500 category">
									<span class="category px-2.5 py-0.5 text-xs inline-block font-medium rounded border bg-slate-100 border-slate-200 text-slate-500 dark:bg-slate-500/20 dark:border-slate-500/20 dark:text-zink-200">{{product.productCategory.name}}</span>
								</td>
								<td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500">{{product.pricePerDay}}
									Dt</td>
								<td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500">{{product.addDate|date('j M, Y')}}</td>
								<td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500">{{product.member.firstName}}
									{{product.member.lastName}}</td>
                  								<td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500">
									{% if product.disponibility == "UnAvailable" and product.status == 'Approved' %}
										<span class="px-2.5 py-0.5 inline-block text-xs font-medium rounded border bg-yellow-100 border-yellow-100 text-yellow-500 dark:bg-yellow-400/20 dark:border-transparent">UnAvailable</span>
									{% endif %}
									{% if product.disponibility == "Available" and product.status == 'Approved' %}
										<span class="px-2.5 py-0.5 inline-block text-xs font-medium rounded border bg-green-100 border-green-100 text-green-500 dark:bg-green-400/20 dark:border-transparent">Available</span>
									{% endif %}
                  {% if product.status != 'Approved' %}
										<span class="px-2.5 py-0.5 inline-block text-xs font-medium rounded border bg-purple-100 border-purple-100 text-purple-500 dark:bg-purple-400/20 dark:border-transparent">-</span>
									{% endif %}
                  </td>
								<td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500">
									{% if product.status == "Pending" %}
										<span class="px-2.5 py-0.5 inline-block text-xs font-medium rounded border bg-yellow-100 border-yellow-100 text-yellow-500 dark:bg-yellow-400/20 dark:border-transparent">Pending</span>
									{% endif %}
									{% if product.status == "Approved" %}
										<span class="px-2.5 py-0.5 inline-block text-xs font-medium rounded border bg-green-100 border-green-100 text-green-500 dark:bg-green-400/20 dark:border-transparent">Approved</span>
									{% endif %}
									{% if product.status == "Declined" %}
										<span class="px-2.5 py-0.5 inline-block text-xs font-medium rounded border bg-red-100 border-red-100 text-red-500 dark:bg-red-400/20 dark:border-transparent">Declined</span>
									{% endif %}
																		{% if product.status == "Removed" %}
										<span class="px-2.5 py-0.5 inline-block text-xs font-medium rounded border bg-red-100 border-red-100 text-red-500 dark:bg-red-400/20 dark:border-transparent">Removed</span>
									{% endif %}
								</td>
								<td class="px-3.5 py-2.5 border-y border-slate-200 dark:border-zink-500">
									<div class="flex gap-2">
										<a href="{{path('app_product_for_rent_overview',{'id':product.id})}}" class="flex items-center justify-center transition-all duration-200 ease-linear rounded-md size-8 text-slate-500 bg-slate-100 hover:text-white hover:bg-slate-500 dark:bg-zink-600 dark:text-zink-200 dark:hover:text-white dark:hover:bg-zink-500">
											<i data-lucide="eye" class="size-4"></i>
										</a>
										{% if product.status == "Pending" %}
											<a href="{{path('app_product_for_rent_accepted',{'id':product.id})}}" class="flex items-center justify-center text-green-500 transition-all duration-200 ease-linear bg-green-100 rounded-md size-8 hover:text-white hover:bg-green-500 dark:bg-green-500/20 dark:hover:bg-green-500">
												<i data-lucide="check" class="size-4"></i>
											</a>
											<a href="{{path('app_product_for_rent_declined',{'id':product.id})}}" class="flex items-center justify-center text-red-500 transition-all duration-200 ease-linear bg-red-100 rounded-md size-8 hover:text-white hover:bg-red-500 dark:bg-red-500/20 dark:hover:bg-red-500">
												<i data-lucide="x" class="size-4"></i>
											</a>
										{% endif %}
										{% if product.status != "Pending" and product.disponibility !='UnAvailable' %}
											<a href="{{path('app_product_for_rent_deleted',{'id':product.id})}}" class="flex items-center justify-center text-red-500 transition-all duration-200 ease-linear bg-red-100 rounded-md size-8 hover:text-white hover:bg-red-500 dark:bg-red-500/20 dark:hover:bg-red-500">
												<i data-lucide="trash-2" class="size-4"></i>
											</a>
										{% endif %}
									</div>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="flex flex-col items-center mt-5 md:flex-row">
				<div class="mb-4 grow md:mb-0">
					<p class="text-slate-500 dark:text-zink-200">Showing
						<b>10</b>
						of
						<b>17</b>
						Results</p>
				</div>
				<ul class="flex flex-wrap items-center gap-2 shrink-0">
					<li>
						<a href="#!" class="inline-flex items-center justify-center bg-white dark:bg-zink-700 h-8 px-3 transition-all duration-150 ease-linear border rounded border-slate-200 dark:border-zink-500 text-slate-500 dark:text-zink-200 hover:text-custom-500 dark:hover:text-custom-500 hover:bg-custom-50 dark:hover:bg-custom-500/10 focus:bg-custom-50 dark:focus:bg-custom-500/10 focus:text-custom-500 dark:focus:text-custom-500 [&.active]:text-custom-500 dark:[&.active]:text-custom-500 [&.active]:bg-custom-50 dark:[&.active]:bg-custom-500/10 [&.active]:border-custom-50 dark:[&.active]:border-custom-500/10 [&.active]:hover:text-custom-700 dark:[&.active]:hover:text-custom-700 [&.disabled]:text-slate-400 dark:[&.disabled]:text-zink-300 [&.disabled]:cursor-auto">
							<i class="mr-1 size-4 rtl:rotate-180" data-lucide="chevron-left"></i>
							Prev</a>
					</li>
					<li>
						<a href="#!" class="inline-flex items-center justify-center bg-white dark:bg-zink-700 size-8 transition-all duration-150 ease-linear border rounded border-slate-200 dark:border-zink-500 text-slate-500 dark:text-zink-200 hover:text-custom-500 dark:hover:text-custom-500 hover:bg-custom-50 dark:hover:bg-custom-500/10 focus:bg-custom-50 dark:focus:bg-custom-500/10 focus:text-custom-500 dark:focus:text-custom-500 [&.active]:text-custom-500 dark:[&.active]:text-custom-500 [&.active]:bg-custom-50 dark:[&.active]:bg-custom-500/10 [&.active]:border-custom-50 dark:[&.active]:border-custom-500/10 [&.active]:hover:text-custom-700 dark:[&.active]:hover:text-custom-700 [&.disabled]:text-slate-400 dark:[&.disabled]:text-zink-300 [&.disabled]:cursor-auto">1</a>
					</li>
					<li>
						<a href="#!" class="inline-flex items-center justify-center bg-white dark:bg-zink-700 size-8 transition-all duration-150 ease-linear border rounded border-slate-200 dark:border-zink-500 text-slate-500 dark:text-zink-200 hover:text-custom-500 dark:hover:text-custom-500 hover:bg-custom-50 dark:hover:bg-custom-500/10 focus:bg-custom-50 dark:focus:bg-custom-500/10 focus:text-custom-500 dark:focus:text-custom-500 [&.active]:text-custom-500 dark:[&.active]:text-custom-500 [&.active]:bg-custom-50 dark:[&.active]:bg-custom-500/10 [&.active]:border-custom-50 dark:[&.active]:border-custom-500/10 [&.active]:hover:text-custom-700 dark:[&.active]:hover:text-custom-700 [&.disabled]:text-slate-400 dark:[&.disabled]:text-zink-300 [&.disabled]:cursor-auto active">2</a>
					</li>
					<li>
						<a href="#!" class="inline-flex items-center justify-center bg-white dark:bg-zink-700 size-8 transition-all duration-150 ease-linear border rounded border-slate-200 dark:border-zink-500 text-slate-500 dark:text-zink-200 hover:text-custom-500 dark:hover:text-custom-500 hover:bg-custom-50 dark:hover:bg-custom-500/10 focus:bg-custom-50 dark:focus:bg-custom-500/10 focus:text-custom-500 dark:focus:text-custom-500 [&.active]:text-custom-500 dark:[&.active]:text-custom-500 [&.active]:bg-custom-50 dark:[&.active]:bg-custom-500/10 [&.active]:border-custom-50 dark:[&.active]:border-custom-500/10 [&.active]:hover:text-custom-700 dark:[&.active]:hover:text-custom-700 [&.disabled]:text-slate-400 dark:[&.disabled]:text-zink-300 [&.disabled]:cursor-auto">3</a>
					</li>
					<li>
						<a href="#!" class="inline-flex items-center justify-center bg-white dark:bg-zink-700 h-8 px-3 transition-all duration-150 ease-linear border rounded border-slate-200 dark:border-zink-500 text-slate-500 dark:text-zink-200 hover:text-custom-500 dark:hover:text-custom-500 hover:bg-custom-50 dark:hover:bg-custom-500/10 focus:bg-custom-50 dark:focus:bg-custom-500/10 focus:text-custom-500 dark:focus:text-custom-500 [&.active]:text-custom-500 dark:[&.active]:text-custom-500 [&.active]:bg-custom-50 dark:[&.active]:bg-custom-500/10 [&.active]:border-custom-50 dark:[&.active]:border-custom-500/10 [&.active]:hover:text-custom-700 dark:[&.active]:hover:text-custom-700 [&.disabled]:text-slate-400 dark:[&.disabled]:text-zink-300 [&.disabled]:cursor-auto">Next
							<i class="ml-1 size-4 rtl:rotate-180" data-lucide="chevron-right"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
{% endblock %}
