{% extends 'baseBackOffice.html.twig' %}
{% block pagecontent %}
	<div class="py-4">

		<div class="relative xl:w-3/6">
			<input type="text" class="ltr:pl-8 rtl:pr-8 search form-input border-slate-200 dark:border-zink-500 focus:outline-none focus:border-custom-500 disabled:bg-slate-100 dark:disabled:bg-zink-600 disabled:border-slate-300 dark:disabled:border-zink-500 dark:disabled:text-zink-200 disabled:text-slate-500 dark:text-zink-100 dark:bg-zink-700 dark:focus:border-custom-800 placeholder:text-slate-400 dark:placeholder:text-zink-200" placeholder="Search for ..." autocomplete="off">
			<i data-lucide="search" class="inline-block size-4 absolute ltr:left-2.5 rtl:right-2.5 top-2.5 text-slate-500 dark:text-zink-200 fill-slate-100 dark:fill-zink-600"></i>

		</div>
	</div>


	<div class="grid grid-cols-1 gap-x-5 lg:grid-cols-2 2xl:grid-cols-3">
		{% for application in applications %}
			<div class="card ">
				<div class="card-body">
					<div class="text-left mb-4 ">
						<span class="px-2.5 py-0.5 text-l inline-block font-medium rounded border bg-white border-custom-400 text-custom-500 dark:bg-zink-700 dark:border-custom-700 ">{{application.email}}</span>
						<a href="{{ path('app_delivery_man_delete', {'id': application.id}) }}" class="text-white bg-red-500 border-red-500 btn hover:text-white hover:bg-red-600 hover:border-red-600 focus:text-white focus:bg-red-600 focus:border-red-600 focus:ring focus:ring-red-100 active:text-white active:bg-red-600 active:border-red-600 active:ring active:ring-red-100 dark:ring-custom-400/20 float-right" onclick="deleteMultiple()">
							<i class="ri-delete-bin-2-line "></i>
						</a>
					</div>


					<!-- Swiper -->
					<div class="swiper pagination-slider">
						<div class="swiper-wrapper w-64 h-64">
							<div class="swiper-slide ">
								<img  style="width:100%; height:100%" src="{{ vich_uploader_asset(application.userImage, 'imageFile') }}" alt="">
							</div>
							{% for image in application.driverLicenseImages %}
								<div class="swiper-slide ">
									<img style="width:100%; height:100%" src="{{ vich_uploader_asset(image, 'imageFile') }}" alt="">
								</div>

							{% endfor %}
						</div>
						<div class="swiper-pagination"></div>
					</div>
					<div class="text-center pt-4">
						<a href="{{ path('app_delivery_man_application_details', {'id': application.id}) }}" type="button" class="cursor-pointer text-yellow-500 bg-white border-yellow-500 border-dashed btn hover:text-yellow-500 hover:bg-yellow-50 hover:border-yellow-600 focus:text-yellow-600 focus:bg-yellow-50 focus:border-yellow-600 active:text-yellow-600 active:bg-yellow-50 active:border-yellow-600 dark:bg-zink-700 dark:ring-yellow-400/20 dark:hover:bg-yellow-800/20 dark:focus:bg-yellow-800/20 dark:active:bg-yellow-800/20">Inspect</a>
					</div>

				</div>
			</div>
			<!--end card-->
		{% endfor %}


	</div>


{% endblock %}

{% block endbodyjs %}

	<script src='/assets/libs/choices.js/public/assets/scripts/choices.min.js'></script>
	<script src="/assets/libs/%40popperjs/core/umd/popper.min.js"></script>
	<script src="/assets/libs/tippy.js/tippy-bundle.umd.min.js"></script>
	<script src="/assets/libs/simplebar/simplebar.min.js"></script>
	<script src="/assets/libs/prismjs/prism.js"></script>
	<script src="/assets/libs/lucide/umd/lucide.js"></script>
	<script src="/assets/js/tailwick.bundle.js"></script>
	<script src="/assets/libs/swiper/swiper-bundle.min.js"></script>

	<script src="/assets/js/pages/swiper.init.js"></script>

	<!-- App js -->
	<script src="assets/js/app.js"></script>
{% endblock %}
